{% extends 'staffbase.html' %}
{% block bodyblock %}
<nav class="navbar navbar-expand navbar-light bg-light">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "serialized:serializedlist" %}">Serialized Home  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "serialized:serializedlist" %}">Cancel</a>
            </li>
        </ul>
    </nav>
</nav>
<div class="container-fluid">
    <h3>Serialized Inventory Update Form</h3>
    *This is an internal system and is not intended to be a replacement for GunStore Master
    <!--update order form -->
    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
    </form>

</div>
{% endblock %}