{% extends 'staffbase.html'%}
{% load static %}
{% block bodyblock %}
<div class="container-fluid">
<h3>Suppliers</h3>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'serialized:addserialized' %}">Add Serialized Inventory <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="{% url 'serialized:serialized_upload' %}">Upload Incoming Inventory <span class="sr-only"></span></a>
        <a class="nav-item nav-link active" href="">Outgoing Scan <span class="sr-only"></span></a>
        <a class="nav-item nav-link active" href="">Monthly Inventory Scan <span class="sr-only"></span></a>
        
        
        
    </div>
</nav>
<h2> Ya'll dont mess with this yet, still working on it</h2>
<h3> Serial Number Search</h3>
</div>
<div class="container-fluid">
    <h6> FFL Search: by Serial Number, Order Number, Firearm ID</h6>
        <form action="{% url 'serialized:search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form></br>
</div>

<h3>Serial Number Listings</h3>
<h5> To Update Inventory, Hit the Blue Serial Number Link</h5>

    <!--StartSection -->
{% for inv in object_list %}
<div>
    <!--inventory --> 
    <ul>
        
        {% if inv.ininventory == True %}
        - In Inventory, <a href="{% url 'serialized:updateserialized' pk=inv.pk %}"> {{ inv.serialnumber }}</a> , {{ inv.modeltype }},  {{ inv.color }}, Date Aquired: {{ inv.dateaquired }}, Date Deposed: {{ inv.datedeposed }}
        Notes: {{ inv.notes }}</a>
        {% else %}
        -Not in Inventory, <a href="{% url 'serialized:updateserialized' pk=inv.pk %}"> {{ inv.serialnumber }}</a> , Model:{{ inv.modeltype }}, Color: {{ inv.color }}, Date Aquired: {{ inv.dateaquired }}, Date Deposed: {{ inv.datedeposed }} 
        Notes: {{ inv.notes }}
        {% endif %}           
                
    </ul>
</div>
    <!--End Section -->

{% empty %}
    <h4> No Serialized Inventory Listed, We Out Sucka </h4>
{% endfor %}
</ul>
</div>
{% endblock %}