{% extends 'staffbase.html'%}
{% load static %}
{% block bodyblock %}
<div class="container-fluid">
<h3>Suppliers</h3>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'serialized:addserialized' %}">Add Serialized Inventory <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="{% url 'serialized:serialized_upload' %}">Upload Incoming Inventory <span class="sr-only"></span></a>
        <a class="nav-item nav-link active" href="">Outgoing Scan <span class="sr-only"></span></a>
        <a class="nav-item nav-link active" href="">Monthly Inventory Scan <span class="sr-only"></span></a>
        
        
        
    </div>
</nav>
<h2> Ya'll dont mess with this yet, still working on it</h2>
<h3> Serial Number Search</h3>
<div class="card-columns">
    <div class="card">   
        <div class="form-group">
        <label for="Search"></label>
        <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="Enter Serial Number">
            <input name="" id="" class="btn btn-primary" type="button" value="Submit">
            <small id="helpId" class="form-text text-muted">Please enter the Serial Number of the Receiver you are looking for</small>
    </div>          
</div>
<h5> To Update Inventory, Hit the Blue Serial Number Link</h5>
</div>
<h3>Serial Number List</h3>
{% for inv in object_list %}

    <!--StartSection -->
<div>
    <!--inventory --> 
    <ul>
        
        {% if inv.ininventory %}
        <li><p> In Inventory, <a href=""> {{ inv.serialnumber }}</a> , {{ inv.modeltype }},  {{ inv.color }}, Date Aquired: {{ inv.dateaquired }}, Date Deposed: {{ inv.datedeposed }} </p></li>
        <p>Notes: {{ inv.notes }}</a></p>
        {% else %}
        </li><p> Not in Inventory, <a href=""> {{ inv.serialnumber }}</a> , Model:{{ inv.modeltype }}, Color: {{ inv.color }}, Date Aquired: {{ inv.dateaquired }}, Date Deposed: {{ inv.datedeposed }} </p></li>
        <p>Notes: {{ inv.notes }}</p> </li>
        {% endif %}           
                
    </ul>
</div>
    <!--End Section -->

{% empty %}
    <h4> No Serialized Inventory Listed, We Out Sucka </h4>
{% endfor %}
</ul>
</div>
{% endblock %}