{% extends 'staffbase.html' %}
{% block bodyblock %}
{% load static %}

<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ffl:fflindex" %}">FFL Home  <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "ffl:addffl" %}">Add FFL</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>
    <div class="col-3">
    <h3> {{ object.fflcompanyname }} </h3>
        {% if object.ffldontship %}
        <h5>Dont Ship to this FFL</h5>
        {% endif %}
        {% if object.fflshiptomail %}
        <h5>Ship to Mailing Address</h5>
        {% endif %}
        <ul>
            <li>Premise Address: {{ object.fflmailaddress}}
            {{object.fflcity}} {{object.fflstate}} {{object.fflzipcode}}
            <li>FFl Number : {{ object.fflnumber }}
            <li>FFl Expiration: {{ object.fflexp }}
            <li>CFD: {{object.fflcfd}}
            <li>Phone Number : {{object.fflphone }}
            <li>Email: {{ object.fflemail }}
            <li>Contact Name: {{ object.fflcontactname }}
            <li>Notes: {{ object.notes }}
            <h4><a href="{% url 'ffl:updateffl' pk=object.pk %}">UPDATE</a></h4>
    </div>
    <div class="col-9">
    <h4> ATF EZ Check used to verify only</h4>
    * if you are going to update our internal database make sure you get a fresh copy of the FFL!
        <iframe id="encoder_iframe" height=700px  width="75%" src="https://fflezcheck.atf.gov/fflezcheck/">
        </iframe>
    </div>
</div>
{% endblock %}