{% extends 'staffbase.html' %}
{% block bodyblock %}
<div style="background-color:blue">
    <h1 class = "text-white">Purchase Orders</h1>
    </div> 
<div class="col">
<div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'addorder' %}">Add Purchase Order<span class="sr-only">(current)</span></a>
            
        </div>
    </nav>
<ul>
<!-- 
<h4>Consumables:</h4>
<h5> Consumables total:</h5><p>{{context}}</p>
-->

{% for orders in object_list %}
<li>Model: {{ orders.typemodel }} Amount: {{ orders.orderamount }} Color: {{ orders.color  }}- Order Date: {{ orders.date }} Invoice # {{orders.purchase_order_num}}<br> Notes: {{orders.notes}} <a href="{% url "updateorder" pk=orders.pk %}"> Update</a><a href="{% url "orderdelete" pk=orders.pk %}"> Delete</a></li>
    
{% empty %}
    <li><h4> No orders listed </h4>
{% endfor %}
</ul>
</div>
{% endblock %}
