{% extends 'staffbase.html'%}
{% load qr_code %}
{% block bodyblock %}
  
<div style="background-color:blue">
   <h1 class = "text-white">Staff Home</h1>
</div> 
<div class="container-fluid">
   <h5> Tn Arms Co Homepage</h5></br>
   <h6> On File FFL Search: by FFL Number, Premise Address, Company Name</h6>
        <form action="{% url 'ffl:search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form></br>
</div>  
{% for inv in object_list %}
<div class="row">
    <!--StartSection -->
    <div class="col-sm-3 col-md-3 col-lg-3">
        <!--inventory --> 
        <h3>Available Inventory</h3>
        <ul>
            <li>Ar15 Black : {{ inv.ar15black}}</li>
            <li>Ar15 FDE   : {{ inv.ar15fde }}</li>
            <li>Ar15 Stlh  : {{ inv.ar15stealth}}</li>
            <li>Ar15 OD : {{ inv.ar15od}}</li>
            <li>Ar15 Rifle   : {{ inv.ar15rifle }}</li>
            <li>Ar15 Clear  : {{ inv.ar15clear}}</li>
            <li>Ar15 Pink  : {{ inv.ar15pink}}</li>
            <li>Ar308 Black : {{ inv.ar308black}}</li>
            <li>Ar308 FDE   : {{ inv.ar308fde }}</li>
            <li>Ar308 Stlh  : {{ inv.ar308stealth}}</li>
            <li>Ar308 OD : {{ inv.ar308od}}</li>
            <li>Ar308 Rifle   : {{ inv.ar308rifle }}</li>
            <li>Ar308 Pink  : {{ inv.ar308pink}}</li>
            <li>Tac9 Black : {{ inv.tac9black}}</li>
            <li>Tac9 FDE   : {{ inv.tac9fde }}</li>
            <li>Tac9 Stlh  : {{ inv.tac9stealth}}</li>
            <li>Tac9 OD : {{ inv.tac9od}}</li>
            <li>Tac9 Rifle   : {{ inv.tac9rifle }}</li>
            <li>80 Black : {{ inv.black80}}</li>
            <li>80 FDE   : {{ inv.fde80 }}</li>
            <li>80 Stlh  : {{ inv.stealth80}}</li>
            <li>80 Rifle : {{ inv.rifle80}}</li>           
        </ul>
   </div>
{% endfor %}
   
   <div class="col-sm-3 col-md-6 col-lg-4">
    <h3> Purchase Orders</h3>
   {% for obj in orders%}
      <!--orders -->     
         <ul class="list-group">
            <li class="list-group-item"><p> {{ obj.typemodel }} - {{ obj.orderamount }} {{ obj.color  }}- {{ obj.date }} Invoice # {{obj.purchase_order_num}}</p></li>
         </ul>
   {% endfor %}
   </div>
   <div class="col-sm-3 col-md-6 col-lg-4">
    
      {% for objects in consumables %}
      <div >
        <!--StartSection -->
            <!--inventory --> 
         <h3>Consumables</h3>
         <ul>
            <li>- Big Brass: {{ objects.bigbrass }}</li>
            <li>- Little Brass: {{ objects.littlebrass  }}</li>
            <li>- Serial Numbers: {{ objects.serialnum }}</li>
            <li>- Tac-9 Arms: {{objects.tac9arm}}</li>
            <li>- TAC-9 Buttons: {{ objects.tac9button }}</li>
            <li>- Tac 9 Ejectors: {{ objects.tac9ejector  }}</li>
            <li>- Ar15 Kit : {{ objects.ar15kit  }}</li>
            <li>- Ar308 Kit : {{ objects.AR308kit  }} </li>
            <li>- Extended Mag Button : {{ objects.extendedmagrelease  }} </li>
            <li>- Tac9 Buffer Assembly : {{ objects.tac9bufferkit }}</li>
            <li>- AR15 Buffer Assemblies : {{ objects.AR15_Buffer_Assembly}} </li>
            <li>- AR308 Buffer Assemblies : {{ objects.AR308_Buffer_Assembly}} </li>
            <li>- Ar308 Kit : {{ objects.AR308kit  }} </li>
            <li>- 80 Jigs : {{ objects.jigs  }} </li>
            <li>- Drill Bits : {{ objects.drillbits  }} </li>
            <li>- Jig Screws : {{ objects.jigscrew  }} </li>
            <li>- Pistol Grip Screws : {{ objects.pistolgripscrew  }} </li>           
         </ul>
   {% endfor %}
   </div>



</div>
{% endblock %}